body {
  font-family:"Prompt", sans-serif;
}

#outer-wrapper {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #d7e1ec;
  /*background-image: linear-gradient(315deg, #fff 0%, #d7e1ec 74%);*/
}

#middle-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#inner-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

/* --- Social Icons --- */
.social {
  margin-left: 8px;
  margin-right: 8px;
}

.social-links{
  list-style-type:none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.social-item {
  display:inline-block;
  margin-right:10px;
}

.social-item a:hover {
  cursor:pointer;
  color:#fff;
}

.social-icon {
  height: 32px;
  width: 32px;
  filter: drop-shadow(2px 2px 1px #787f86b9);
}

.dark-hide {
  display: inline-block;
  visibility: visible;
}

.light-hide {
  display: none;
  visibility: hidden;
}

#title-wrapper {
  margin: auto;
  margin-top:30px;
}

#title-wrapper ul li {
  display:inline;
  list-style-type:none;
}

#title-wrapper a:hover {
  cursor:pointer;
  color:#eee;
}

#profile-pic img {
  display: block;
  margin: auto;
  overflow: hidden;
  border-style: solid;
  border-radius: 160px;
  border-color: #485461;
  border-width: 4px;
}

.logo {
  font-size: 48px;
  font-weight: 100;
  margin: 20px auto 10px auto;
  text-align: center;
}

#email {
  margin: 10px auto;
  font-size: 18px;
  text-align: center;
  color: #444;
}

#email a {
  text-decoration: none;
  color: #444;
}

#email a:hover {
  text-decoration: none;
  color: #DB222A;
}

#projects-wrapper {
  max-width: 512px;
  margin: auto;
}

/* --- Skills --- */
.skills-featured {
  grid-area:featuredSkills;
}

.skills-featured ul {
  padding:10px 0;
  text-align:center;
  list-style-type:none;
}

.skill-logo {
  padding:10px;
  margin-right:10px;
  font-size:56px;
  display:inline;
  list-style-type:none;
}

/* --- Projects --- */
.project-cards {
  color:#28313b;
  margin-top: 60px;
  margin-bottom: 70px;
  /*background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);*/
}

.project-cards h2 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 100;
}

.proj-container-vertical {
  display: inline-block;
  color:#444;
  border-radius: 0.4em;
}

.proj-card img {
  border-radius: 0.4em;
}

.proj-card img:hover {
  filter: brightness(110%);
}

.proj-title-centered {
  margin-top: 15px;
  font-size: 24px;
  color: #DB222A;
  font-weight: 500;
}

.proj-title-centered a {
  color: #DB222A;
  text-decoration: none;
  font-weight: 500;
}

.proj-title-centered a:hover {
  color: #94161d;
}

.proj-desc {
  font-size: 14px;
  line-height: 1.4em;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 30px;
}

.proj-desc a {
  text-decoration:none;
  color:#DB222A;
}

.proj-desc a:hover {
  color: #94161d;
}

/* --- DARK MODE --- */
@media (prefers-color-scheme: dark) {
  #outer-wrapper {
    background-color: #191e25;
  }

  .social-icon {
    filter: drop-shadow(2px 2px 1px rgba(6, 8, 9, 0.749));
  }
  
  body {
    color: #fff;
  }

  .logo {
    color: #fff;
  }

  #profile-pic img {
    border-color: #87C38F;
  }
  
  #email {
    color: #d3d3d3;
  }

  #email a {
    color: #d3d3d3;
  }
  
  #email a:hover {
    color: #87C38F;
  }

  .project-cards {
    color:#e1e1e1;
  }

  .proj-container-vertical {
    color:#fff;
  }

  .proj-title-centered a {
    color: #87C38F;
  }
  
  .proj-title-centered a:hover {
    color: #629068;
  }

  .proj-desc a {
    color:#87C38F;
  }
  
  .proj-desc a:hover {
    color: #629068;
  }

  .light-hide {
    display: inline-block;
    visibility: visible;
  }

  .dark-hide {
    display: none;
    visibility: hidden;
  }
}

/* --- MOBILE MEDIA QUERY --- */
@media screen and (max-width: 480px) {
  #inner-wrapper {
    max-width: 100%;
  }

  .social-icon {
    height: 64px;
    width: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .proj-card img {
    width: 512px;
  }

  .proj-desc {
    font-size: 16px;
  }
}