body {
  font-family:"Prompt", sans-serif;
  margin: 0;
}

#outer-wrapper {
  display: table;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  /*background-image: linear-gradient(315deg, #fff 0%, #d7e1ec 74%);*/
}

#middle-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#inner-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* --- Social Icons --- */
.social {
  margin-left: 8px;
  margin-right: 8px;
}

.social-links{
  list-style-type:none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.social-item {
  display:inline-block;
  margin-right:10px;
}

.social-item a:hover {
  cursor:pointer;
  color:#fff;
}

.social-icon {
  height: 32px;
  width: 32px;
  filter: drop-shadow(2px 2px 1px #787f86b9);
}

.dark-hide {
  display: inline-block;
  visibility: visible;
}

.light-hide {
  display: none;
  visibility: hidden;
}

#title-wrapper {
  margin: auto;
  margin-top:30px;
}

#title-wrapper ul li {
  display:inline;
  list-style-type:none;
}

#title-wrapper a:hover {
  cursor:pointer;
  color:#eee;
}

#profile-pic img {
  display: block;
  margin: auto;
  overflow: hidden;
  border-style: solid;
  border-radius: 160px;
  border-color: #111111;
  border-width: 4px;
}

.logo {
  font-size: 48px;
  font-weight: 100;
  margin: 20px auto 10px auto;
  text-align: center;
}

#email {
  margin: 10px auto;
  font-size: 18px;
  text-align: center;
  color: #444;
}

#email a {
  text-decoration: none;
  color: #444;
}

#email a:hover {
  text-decoration: none;
  color: #DB222A;
}

#projects-wrapper {
  max-width: 512px;
  margin: auto;
}

/* --- Skills --- */
.skills-featured {
  grid-area:featuredSkills;
}

.skills-featured ul {
  padding:10px 0;
  text-align:center;
  list-style-type:none;
}

.skill-logo {
  padding:10px;
  margin-right:10px;
  font-size:56px;
  display:inline;
  list-style-type:none;
}

/* --- Projects --- */
.project-cards {
  color:#28313b;
  margin-bottom: 70px;
  /*background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);*/
}

.project-cards h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-weight: 100;
}

.proj-container-vertical {
  display: inline-block;
  color:#444;
  border-radius: 0.4em;
}

.proj-card img {
  border-radius: 0.4em;
  filter: drop-shadow(2px 2px 1px #787f86b9);
}

.proj-card img:hover {
  filter: brightness(110%) drop-shadow(2px 2px 1px #787f86b9);
}

.proj-title {
  margin-top: 5px;
  font-size: 24px;
  color: #DB222A;
  font-weight: 500;
}

.proj-title a {
  color: #DB222A;
  text-decoration: none;
  font-weight: 500;
}

.proj-title a:hover {
  color: #94161d;
}

.proj-desc {
  font-size: 14px;
  line-height: 1.4em;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 60px;
}

.proj-desc a {
  text-decoration:none;
  color:#DB222A;
}

.proj-desc a:hover {
  color: #94161d;
}

/* --- PROJECT PAGE --- */
.project-page-outer {
  display: table;
  height: 100%;
  width: 100%;
  background-color:#f0f0f0;
}

.project-page-middle {
  display: table-cell;
  vertical-align: middle;
}

.project-page-inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.project-page-header {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  margin: auto;
}

.project-page-header img {
  width: 355px;
  height: 120px;
  filter: drop-shadow(2px 2px 2px rgba(6, 8, 9, 0.507));
}

.project-page {
  margin: auto;
  margin-bottom: 30px;
  border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	box-shadow: 2px 2px 4px #00000047;
  border-radius: 5px;
}

.project-page a {
  color: #ff0461;
  text-decoration: none;
}

.project-page a:hover {
  color: #ff0461;
  text-decoration: underline;
}

.trailer-container {
  width: 960px;
  height: 540px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: solid 2px #ff0461;
}

iframe {
  width: 100%;
  height: 100%;
}

.project-page-lower {
  padding-top: 30px;
  text-align: center;
}

.project-description {
  color: #444;
  font-size: 20px;
  line-height:1.4em;
}

.project-page-work-desc {
  padding: 30px 30px 0px 30px;
  text-align: left;
  color: #222;
}

.project-page-work-desc h2 {
  color: #222;
}

.project-page-work-desc ul {
  list-style: none;
  margin-top: 16px;
  margin-bottom: 0px;
}

.project-resp-item {
  background: url("img/bullet.png") no-repeat left center;
  display: block;
  text-align: left;
  padding-left: 20px;
}

.project-features {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 960px;
}

.project-features table {
  max-width: 960px;
  text-align: center;
}

.project-features h2 {
  color: #222;
}

.feature-card-img {
  padding-bottom: 20px;
}

.feature-card-img img {
  border-radius: 5px;
}

.feature-card-text {
  vertical-align: top;
  margin-top: 0;
  text-align: left;
  padding-left: 10px;
  color: #222;
  line-height: 1.4em;
  padding-bottom: 20px;
}

.feature-card-text h3 {
  color: #ff0461;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.steam-widget-container {
  height: 200px;
  padding: 30px 30px;
  filter: drop-shadow(2px 2px 2px rgba(6, 8, 9, 0.749));
}

/* --- DARK MODE --- */
/*@media (prefers-color-scheme: dark) {
  #outer-wrapper {
    background-color: #191e25;
  }

  .social-icon {
    filter: drop-shadow(2px 2px 1px rgba(6, 8, 9, 0.749));
  }
  
  body {
    color: #fff;
  }

  .logo {
    color: #fff;
  }

  #profile-pic img {
    border-color: #87C38F;
  }
  
  #email {
    color: #d3d3d3;
  }

  #email a {
    color: #d3d3d3;
  }
  
  #email a:hover {
    color: #87C38F;
  }

  .project-cards {
    color:#e1e1e1;
  }

  .project-cards img {
    filter: drop-shadow(2px 2px 3px rgba(6, 8, 9, 0.749));
  }

  .proj-card img:hover {
    filter: brightness(110%) drop-shadow(2px 2px 3px rgba(6, 8, 9, 0.749));
  }

  .proj-container-vertical {
    color:#fff;
  }

  .proj-title a {
    color: #87C38F;
  }
  
  .proj-title a:hover {
    color: #629068;
  }

  .proj-desc a {
    color:#87C38F;
  }
  
  .proj-desc a:hover {
    color: #629068;
  }

  .light-hide {
    display: inline-block;
    visibility: visible;
  }

  .dark-hide {
    display: none;
    visibility: hidden;
  }

  .project-page-outer {
    background-color:#191e25;
  }

  .project-page {
    border-top: 1px solid #1d222a;
    border-left: 1px solid #1d222a;
    box-shadow: 2px 2px 4px #0000008a;
  }

  .project-page-header img {
    filter: drop-shadow(2px 2px 2px rgba(6, 8, 9, 0.749));
  }

  .project-description {
    color: #d3d3d3;
  }
  
  .project-page-work-desc {
    color: #fff;
  }
  
  .project-page-work-desc h2 {
    color: #fff;
  }

  .project-features h2 {
    color: #fff;
  }
  
  .feature-card-text {
    text-align: left;
    color: #fff;
  }
}*/

/* --- MOBILE MEDIA QUERY --- */
@media screen and (max-width: 480px) {
  #inner-wrapper {
    max-width: 100%;
  }

  .social-icon {
    height: 64px;
    width: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .proj-card img {
    width: 100%;
  }

  .proj-desc {
    font-size: 16px;
  }

  .project-page-inner {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .project-page-outer {
    width: 100%;
  }

  .project-page-middle {
    width: 100%;
  }

  .project-page-inner {
    width: 100%;
  }

  .trailer-container {
    width: 100%;
  }

  .project-resp-item {
    padding-left: 20px;
    padding-right: 20px;
  }

}